# Environment variables
.env*.local

# Common ignores
node_modules
.next/
.data/
*.tsbuildinfo
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
